<h2 mat-dialog-title>Course Registration</h2>
<form [formControl] = "courseSelect">
    <mat-dialog-content class="mat-typography">
        <h3>Pick the courses that you would like to register for</h3>
        <section *ngFor="let course of courses">
            <mat-checkbox  [value]="course.CourseID" (change)="onChange($event)">{{course.CourseName}}</mat-checkbox>
            <br>
            <p>Subject{{course.CourseSubject}}</p>
        </section>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" cdkFocusInitial>Register for selected courses</button>
      </mat-dialog-actions>
</form>
