<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">

    <div *ngIf="(loggedIn$ | async) === true">
      <div class="container">
        <img src="assets/images/user.svg" alt="user">
        <p class="email">{{session.EmailAddress}}</p>
        <p>{{session.UserRoleName}}</p>
      </div>
      <ng-container *ngIf="session.UserRoleID === 2; else elseTemplate">
        <mat-nav-list>
          <a mat-list-item [routerLink]="[ '/learner-courses' ]">My Courses</a>
          <a mat-list-item (click)="logOut(drawer)">Log Out</a>
        </mat-nav-list>
      </ng-container>
      <ng-template #elseTemplate>
        <mat-nav-list>
          <a mat-list-item [routerLink]="[ '/admin-home' ]">Dashboard</a>
          <a mat-list-item [routerLink]="[ '/admin-courses' ]">Courses</a>
          <a mat-list-item [routerLink]="[ '/learner-listings' ]">Learner Listings</a>
          <a mat-list-item [routerLink]="[ '/deregistrations' ]">Deregistraions</a>
          <a mat-list-item (click)="logOut(drawer)">Log Out</a>
        </mat-nav-list>
      </ng-template>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        *ngIf="(loggedIn$ | async) === true"
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Inspire Foundation Group</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
