.heading {
    margin: 70px;
    margin-left: 150px;
    font-weight: 600;
    font-size: 35px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;

    .mat-card { 
        width: 600px;
        margin-left: 15px;
        margin-bottom: 20px;
    }
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.empty-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    .empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 300px;
            margin-bottom: 20px;
        }

        button {
            width: 200px;
        }
    }
}