<div class="register">
    <h1 class="heading">My Courses</h1>
    <button mat-raised-button color="accent" (click)="registerCourses()" >Register for Courses</button>
</div>
<ng-container *ngIf="courses.length > 0; else elseTemplate">
    <div class="container">
        <mat-card class="example-card" *ngFor="let item of courses">
            <mat-card-header>
                <mat-card-title>{{item.CourseName}}
                    <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                      <mat-menu #menu="matMenu" xPosition="before">
                        <button mat-menu-item (click)="deregisterCourse(item)">Deregister Course</button>
                      </mat-menu>
                </mat-card-title>
                <mat-card-subtitle>{{item.CourseSubject}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="controls">
                        <mat-list role="list">
                            <mat-list-item role="listitem">Learner Grade: {{item.CourseGradeLevel}}</mat-list-item>
                            <mat-list-item role="listitem">Date Registered: {{item.DateRegistered | date: 'mediumDate'}}</mat-list-item>
                            <mat-list-item role="listitem">Course Mark: {{item.CourseMark ? item.CourseMark : 'Not Assigned'}}</mat-list-item>
                            <mat-list-item role="listitem">Course Status: {{item.RegistrationStatusName}}</mat-list-item>
                        </mat-list>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div class="actions">
                    </div>
                </mat-card-actions>
          </mat-card>
    </div>
</ng-container>

<ng-template #elseTemplate>
    <div class="empty-container">
        <div class="empty">
            <img src="assets/images/blank.svg" alt="no courses">
            <h3>You have not registered for any courses this year.</h3>
            <button mat-raised-button color="accent" (click)="registerCourses()">Register for Courses</button>
        </div>
    </div>
</ng-template>

