<h1>Subjects</h1>
<div class="example-container">
  <mat-form-field hintLabel="Max 100 characters" appearance="outline">
    <mat-label>Keyword Filter</mat-label>
    <input matInput #input maxlength="50" placeholder="Ex. Mathematics" [ngModel]="filter" (ngModelChange)="filterTable(input.value)">
    <mat-hint>&nbsp; {{input.value?.length || 0}}/50</mat-hint>
  </mat-form-field>
</div>
  <div class="mat-elevation-z8 table">
    <table mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="SubjectID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject ID </th>
        <td mat-cell *matCellDef="let element"> {{element.SubjectID}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="SubjectName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject Name </th>
            <td mat-cell *matCellDef="let element"> {{element.SubjectName}} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-button class="more-button" aria-label="Toggle menu"
                (click)="viewCourses(element)"
                >
                    View Courses on offer
                </button>
            </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[2, 8, 20]" showFirstLastButtons></mat-paginator>
  </div>
